<!DOCTYPE html>
<html lang="en-US">
<title>This year's events.</title>
<meta charset="UTF-8">
<div class="container">
  <h2>Events</h2>
  <p><strong>Note:</strong> Click on <strong> any </strong> month to see when and where the Monkees are playing throughout 2016.</p>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">January</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">The Monkees are playing at 8pm at the O2 Arena, Dublin 1 on January 10th, 2016.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">February</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">The Monkees are playing at 8pm at the Olympia Theatre, Dublin 2 on February 14th, 2016.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse3">March</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">The Monkees are playing at 8pm at the O2 Arena, Dublin 1 on March 17th, 2016.</div>
    </div>
  </div>
   <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse4">April</a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse in">
      <div class="panel-body">The Monkees are playing at at 8pm the Olympia Theatre, Dublin 2 on April 20th, 2016.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse5">May</a>
      </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
      <div class="panel-body">The Monkees are playing at 8pm at the Gate Theatre, Dublin 1 on May 20th, 2016.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse6">June</a>
      </h4>
    </div>
    <div id="collapse6" class="panel-collapse collapse">
      <div class="panel-body">The Monkees are playing at 8pm at the Abbey Theatre, Dublin 1 on June 20th, 2016.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse7">July</a>
      </h4>
    </div>
    <div id="collapse7" class="panel-collapse collapse in">
      <div class="panel-body">The Monkees are playing at 8pm at the O2 Arena, Dublin 1 on July 10th, 2016.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse8">August</a>
      </h4>
    </div>
    <div id="collapse8" class="panel-collapse collapse">
      <div class="panel-body">The Monkees are playing at 8pm at the Olympia Theatre, Dublin 2 on August 14th, 2016.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse9">September</a>
      </h4>
    </div>
    <div id="collapse9" class="panel-collapse collapse in">
      <div class="panel-body">The Monkees are playing at 8pm at the O2 Arena, Dublin 1 on September 10th, 2016.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse10">October</a>
      </h4>
    </div>
    <div id="collapse10" class="panel-collapse collapse">
      <div class="panel-body">The Monkees are playing at 8pm at the Olympia Theatre, Dublin 2 on October 14th, 2016.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse11">November</a>
      </h4>
    </div>
    <div id="collapse11" class="panel-collapse collapse in">
      <div class="panel-body">The Monkees are playing at 8pm at the Abbey Theatre, Dublin 1 on November 10th, 2016.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse12">December</a>
      </h4>
    </div>
    <div id="collapse12" class="panel-collapse collapse">
      <div class="panel-body">The Monkees are playing at 8pm at the Olympia Theatre, Dublin 2 on December 14th, 2016.</div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
    $(".btn").click(function(){
        $("#myCollapsible").collapse({
            toggle: true
        });
        $(".toggle-btn").click(function(){
        $("#myCollapsible").collapse('toggle');
    });
    });
});
</script>
<p>Prices range from €1,700 to €1,900 for your wedding</p>
<p>Prices range from €900 to €1,100 for your office party</p>
<body ng-app="app" ng-controller="eventsController">
      <div>
         {{ greeting()}}
      </div>
      <button ng-click='showEvents()'>Show/Hide Events</button>
      <div ng-repeat="event in events.period" | orderBy: ‘month’ }>
        <div ng-show='events'>
           result for: {{period.month}} + {{period.day}}
        </div>
      </div>
</body>
<script src='view4/service.js'></script>
<div class="links">
    <div class="container">
        <div class="row">
<a href="https://twitter.com/twitter" class="twitter-follow-button" data-show-count="false">Follow @twitter</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<iframe src="http://www.youtube.com/subscribe_widget?p=XYZ" style="overflow: hidden; height: 105px; width: 300px; border: 0;" scrolling="no" frameBorder="0"></iframe>
    <a href="http://www.facebook.com/">Visit our Facebook page</a>
    </div>
    </div>
    </div>
</html>