    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Contact</h2>
        </div>
    </div>
<form name="contactForm" class="form-horizontal" role="form">
  <div class="form-group">
      <div class="col-sm-4" ng-if="!contactForm.inputName.$pristine" ng-messages="contactForm.inputName.$error">
        <div ng-message="required">Please enter your name.</div>
      </div>
    <br>

    <label for="inputName" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="inputName" name="inputName" placeholder="Name" ng-model="formInfo.Name" required>
    </div>
  </div>

  <div class="form-group">
      <div class="col-sm-4" ng-if="!contactForm.inputEmail.$pristine" ng-messages="contactForm.inputEmail.$error">
        <div ng-message="required">Please enter your email.</div>
        <div ng-message="email">Please enter a valid email address.</div>
      </div>
    <br>
    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-4">
      <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Email" ng-model="formInfo.Email" required>
    </div>
  </div>

  <div class="form-group">
    <label for="inputMessage3" class="col-sm-2 control-label">Message</label>
    <div class="col-sm-4" ng-if="!contactForm.inputMessage.$pristine" ng-messages="contactForm.inputMessage.$error">
      <textarea class="form-control" input type="text" rows="3" id="inputMessage3" placeholder="Message" ng-model="formInfo.Message"></textarea>
      <span ng-show="messageRequired">{{messageRequired}}</span>
    </div></div><br/>
  How did you hear about us?<br/>
    <input type="radio" ng-model="formInfo.Choice" value="web" />Internet site<br/>
    <input type="radio" ng-model="formInfo.Choice" value="people" />Friends/Family/other people<br />
    <input type="radio" ng-model="formInfo.Choice" value="media" />Social media site<br /><br/>
    What events do you wish to book us for?<br/>
            <label>{{selected}}</label>
    <input type="checkbox" ng-checked="selected=='wedding'" ng-true-value="'wedding'"ng-model="formInfo.Choice" value="wedding" />Wedding reception<br/>
    <input type="checkbox" ng-checked="selected=='corporate'" ng-true-value="'corporate'"ng-model="formInfo.Choice" value="corporate" />Corporate reception<br/>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" ng-disabled="contactForm.$invalid" ng-click="saveData()" class="btn btn-success">Sign up</button>
    </div>
  </div>
  <span>{{formInfo}}</span>
</form>
        <div class="col-sm-4">
            <p>The Monkees<br>
            Swing/Jazz band<br>
            555 O'Connell Street<br>
                Dublin, Ireland<br>
            </p>
            <p><i class="fa fa-phone"></i> <abbr title="Phone">P</abbr>: (01) 123-4567</p>
            <p><i class="fa fa-envelope-o"></i> <abbr title="Email">E</abbr>: <a
                    href="mailto:feedback@themonkees.com">feedback@themonkees.com</a></p>
            <p><i class="fa fa-clock-o"></i> <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM</p>
        </div><br/>
<div class="links">
    <div class="container">
        <div class="row">
<a href="https://twitter.com/twitter" class="twitter-follow-button" data-show-count="false">Follow @twitter</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<iframe src="http://www.youtube.com/subscribe_widget?p=XYZ" style="overflow: hidden; height: 105px; width: 300px; border: 0;" scrolling="no" frameBorder="0"></iframe>
    <a href="http://www.facebook.com/">Visit our Facebook page</a>
    </div>
    </div>
    </div>
